---
---

// =================
// application.scss
// 
// Base file for our app. Imports components we need from _sass.
// =================

body {
	font-family:'Lato',san-serif;
}

.container{
	width:100%;
	padding:0px;
	margin:0px;
}

.col-sm-8, .col-sm-4 {
	padding:0;
}

.main-image-box {
	width:100%;
	float:left;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.right-rail {
	float:left;

	border-left:1px solid #999;
	display:table;
	vertical-align:bottom;
}

.right-rail .tab {
	font-size:28px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	margin-top:-1px;
}
.right-rail .tab:last-child {
	border-bottom:none;
}
.right-rail{
	background-color:rgba(242,242,242,1.0);
}

.right-rail .tab, .right-rail .tab-content  {
	padding:5px 20px;
}

.tab {
	cursor:pointer;
	font-size:25px;
	background-color: #cecece;
}

.tab-content {
	display:none;
}

.tab-content.default{
	display:block;
}

.tab-content p {
	font-size: 18px;
}
.narrative p{
	font-size:45px
}

.icon {
	width:30px;
	display:inline-block;
	margin-right:15px;
	text-align:center;
}

.tab-content {
	overflow:scroll;
}

.tab:first-child, .tab-content:first {
	background-color:rgba(242,242,242,1.0);
}



// form styles
.img-get {
	max-width:800px;
	margin:auto;
}
.img-get p {
	font-size:18px;
}

.layer-block {
	border-top: 1px solid #ccc;
	padding-top:20px;
	padding-bottom:20px;
}

.layer-block h3{
	margin:0 0 15px 0;
}

.optional-form {
	color:#aaa;
}
