---
---

// =================
// application.scss
// 
// Base file for our app. Imports components we need from _sass.
// =================

body {
	font-family:'Lato',san-serif;
}

.container{
	width:100%;
	padding:0px;
	margin:0px;
}

.col-xs-8, .col-xs-4 {
	padding:0;
}

.main-image-box {
	width:100%;
	float:left;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.right-rail {
	float:left;
	width:100%;
	border-left:1px solid #999;
	display:table;
	vertical-align:bottom;
}

.right-rail .tab {
	font-size:28px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	margin-top:-1px;
}
.right-rail .tab:last-child {
	border-bottom:none;
}
.right-rail{
	background-color:rgba(242,242,242,1.0);
}

.right-rail .tab, .right-rail .tab-content  {
	padding:5px 20px;
}

.tab {
	cursor:pointer;
	font-size:25px;
	background-color: #cecece;
}

.tab-content {
	display:none;
}

.tab-content.default{
	display:block;
}

.tab-content p {
	font-size: 18px;
}
.narrative p{
	font-size:45px
}

.icon {
	width:30px;
	display:inline-block;
	margin-right:15px;
	text-align:center;
}

.tab-content {
	overflow:scroll;
}

.tab:first-child, .tab-content:first {
	background-color:rgba(242,242,242,1.0);
}

//layer styles inside tabs

p.question {
	margin-top:20px;
	font-size:32px;
}
p.answer {
	font-size:24px;
}


.map {
	border:1px solid #111;
	margin:20px auto;
}
p.map-descrip {
	margin-top:10px;
	font-size:24px;
}

p.quote {
	font-size:60px;
}
p.quote-attr {
	margin-left:50px;
	font-size:20px;
}

p.big-num {
	text-align:center;
	font-size:120px;
}

p.num-descrip{
	font-size:24px;
}



// form styles
.img-get {
	max-width:800px;
	margin:auto;
}
.img-get p {
	font-size:18px;
}

.layer-block {
	border-top: 1px solid #ccc;
	padding-top:20px;
	padding-bottom:20px;
}

.layer-block h3{
	margin:0 0 15px 0;
}

.optional-form {
	color:#aaa;
}




/* tablet styles */
@media all and (max-height: 640px) and (min-height : 480px) {
		
	.right-rail .tab {
		font-size: 16px;
	}

	.right-rail .tab i {
		font-size:15px;
	}

	.narrative p {
		font-size:25px;
	}
	
	//layer styles inside tabs

	p.question {
		margin-top:20px;
		font-size:32px;
	}
	p.answer {
		font-size:24px;
	}


	.map {
		border:1px solid #111;
		margin:10px auto;
	}
	p.map-descrip {
		margin-top:5px;
		font-size:16px;
	}

	p.quote {
		font-size:30px;
	}
	p.quote-attr {
		margin-left:15px;
		font-size:16px;
	}

	p.big-num {
		text-align:center;
		font-size:60px;
	}

	p.num-descrip{
		font-size:18px;
	}


}


/* mobile styles */
@media all and (max-height: 480px){
	
	.right-rail .tab {
		font-size: 10px;
		padding: 3px 5px;
	}

	.right-rail .tab i {
		font-size:10px;
	}

	.icon {
		width:15px;
		display:inline-block;
		margin-right:5px;
		text-align:center;
	}

	.narrative p {
		font-size:16px;
	}

	//layer styles inside tabs

	p.question {
		margin-top:20 px;
		font-size:32px;
	}
	p.answer {
		font-size:24px;
	}

	.map {
		border:1px solid #111;
		margin:5px auto;
	}
	p.map-descrip {
		margin-top:10px;
		font-size:24px;
	}

	p.quote {
		font-size:60px;
	}
	p.quote-attr {
		margin-left:50px;
		font-size:20px;
	}

	p.big-num {
		text-align:center;
		font-size:120px;
	}

	p.num-descrip{
		font-size:24px;
	}



}

